black==23.1.0
dateparser==1.1.7
fastapi==0.93.0
httptools==0.5.0
jwcrypto==1.4.2
motor==3.1.1
passlib==1.7.4
pip-chill==1.0.1
pyjwt==2.6.0
python-creditcard==0.0.1
python-decouple==3.8
python-dotenv==1.0.0
python-multipart==0.0.6
pyyaml==6.0
uvicorn==0.20.0
uvloop==0.17.0
watchfiles==0.18.1
websockets==10.4
